@font-face {
    font-family: "Fipps-Regular";
    src: url(../font/Fipps-Regular.otf);
}
@font-face {
    font-family: "RetroGaming";
    src: url(../font/RetroGaming.ttf);
}
body{
    width : 99%;
    min-height : 100vh;
    margin-left: auto;
    margin-right: auto;
}
#BGaccueil{
    background-image: url(../img/accueil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height : 100vh;
}
.BGgame{
    background-image: url(../img/disco.gif);
}
.BGgamebis{
    background-image: url(../img/surpriseGif.gif);
}       
#BGgame{
    background-repeat: no-repeat;
    background-size: cover;
    min-height : 100vh;
}
/*.row {
    border: 1px solid #7451EB;
    padding: 3px;
  }
  [class^="col"] {
    padding: 1rem;
    border: 2px solid #3FA5DB;
  }
/* Partie Momo */
#titre{
    font-family: retroGaming;
    font-size: 10em;
    color: orangered;
}

.lol{
    font-family: retroGaming;
    color:orangered;
    font-size: 2em;
}
.lol2{
    font-family: retroGaming;
    color: white;
    font-size:1em;
}
.bgbutton :hover{
    background-color: orangered;
    padding : 20px;
    border-radius: 8px;
}
#regles{font-size:xx-large;
background-color : rgba(255, 255, 255, 0.1);}
/* Partie SylV */
footer{
    position: relative;
    bottom:0;
    margin-top: 200px;
    display : flex;
    align-items: center;
    justify-content:center;
}
#joueurChoice{
    display : flex;
    align-items: center;
    justify-content:center;
    color : blue;
}
#punkChoice{
    display : flex;
    align-items: center;
    justify-content:center;
    color : red;
}
a:hover{
    text-decoration: none;
}
.orangered{
    color : orangered;
}
.Fipps{
    font-family: "Fipps-Regular";
}
.Retro{
    font-family: "RetroGaming";
}
.miniature{
    width:50%;
}
.bg-ring{
    background-image: url(..//img/ring.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.bgorange{
    background-color: #ff4500;
    color : white;
}
.Ctre{
    display:flex;
    align-items: center;
    justify-content: center;
}
.bggreenyellow{
    background-color: greenyellow;
}
.bgred{
    background-color: red;
}
.bgdarkred{
    background-color: darkred;
}
.punk{
    height : 50px;
}
.daft{
    height : 50px;
}
.right{
    display: flex;
    flex-direction : row-reverse;
}
@media screen AND (min-width: 768px) AND (orientation: portrait){
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        height: 100vw;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
      }
}