@font-face {
    font-family: "Fipps-Regular";
    src: url(../font/Fipps-Regular.otf);}
@font-face {
    font-family: "RetroGaming";
    src: url(../font/RetroGaming.ttf);}
.margintop{
    margin-top: 50px;}
body{
    width : 99%;
    min-height : 100vh;
    margin-left: auto;
    margin-right: auto;}
#BGaccueil{
    background-image: url(../img/accueil.jpg);
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height : 100vh;}
.BGgame{
    background-image: url(../img/disco.gif);
    width:100%;}
.BGgamelose{
    background-image: url(../img/disco.gif);
    width:100%;}
.BGgamewin{
    background-image: url(../img/giphy.gif);
    width:100%;}
.BGgamebis{
    background-image: url(../img/surpriseGif.gif);
    width:100%;}       
#BGgame{
    background-repeat: no-repeat;
    background-size: cover;
    min-height : 100vh;}
/*.row {
    border: 1px solid #7451EB;
    padding: 3px;
  }
  [class^="col"] {
    padding: 1rem;
    border: 2px solid #3FA5DB;
  }
/* Partie Momo */
#titre{
    font-family: retroGaming;
    font-size: 10em;
    color: orangered;}
.lol{
    font-family: retroGaming;
    color:orangered;
    font-size: 2em;}
.lol2{
    font-family: retroGaming;
    color: white;
    font-size:1em;}
.bgbutton :hover{
    background-color: orangered;
    padding : 20px;
    border-radius: 8px;}
#regles{font-size:xx-large;
background-color : rgba(255, 255, 255, 0.1);}
/* Partie SylV */
footer{
    position: relative;
    bottom:0;
    margin-top: 200px;
    display : flex;
    align-items: center;
    justify-content:center;}
#joueurChoice{
    display : flex;
    align-items: center;
    justify-content:center;
    color : blue;}
#punkChoice{
    display : flex;
    align-items: center;
    justify-content:center;
    color : red;}
a:hover{
    text-decoration: none;}
.orangered{
    color : orangered;}
.Fipps{
    font-family: "Fipps-Regular";}
.Retro{
    font-family: "RetroGaming";}
.miniature1{
    width:50%;}
.miniature2{
    width:50%;}
.bg-ring{
    background-image: url(..//img/ring.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;}
.favicon{
    width : 80%;}
.bgorange{
    background-color: #ff4500;
    color : white;}
.Ctre{
    display:flex;
    align-items: center;
    justify-content: center;}
.bggreenyellow{
    background-color: greenyellow;}
.bgred{
    background-color: red;}
.bgdarkred{
    background-color: darkred;}
.punk{
    height : 50px;}
.daft{
    height : 50px;}
.right{
    display: flex;
    flex-direction : row-reverse;}
.punkP{
    transform : translate(0,0);
    animation-name: animpunkP;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;}
@keyframes animpunkP {
    0% {transform: translate(0, 0);}
    100% {transform: translate(-750px, 100px);}}
.punkF{
    transform : translate(0,0);
    animation-name: animpunkF;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;}
@keyframes animpunkF {
     0% {transform: translate(0, 0);}
    100% {transform: translate(-750px, 0);}}
.punkC{
    transform : translate(0,0);
    animation-name: animpunkC;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;}       
@keyframes animpunkC {
    0% {transform: translate(0, 0);}
    100% {transform: translate(-750px, -80px);}}
.mobaffiche{
    display:none;}
.orange{
    color:orange;
}
.bold{
    font-weight: bold;
}


@media screen AND (max-width:720px){
#titre{
    font-size: 5em;}
#daft{
    width:100%;}
.mobcache{
    display:none;}
#punk{
    width:100%;}
.mobaffiche{
    display:block;}
.arene3{
    display: flex;
    flex-direction:row;}
@keyframes animpunkP {
    100% {transform: translate(0, 0);}}
@keyframes animpunkF {
    100% {transform: translate(0, 0);}}
@keyframes animpunkC {
    100% {transform: translate(0, 0);}}
.droppable{
    display: flex;
    flex-direction:row;
    justify-content: space-between;}
.arene2{
    margin-top: 50px;
}
#joueurChoice{
    height : 50px;
}
#punkChoice{
    height : 50px;
}
    
}